/* updateEvent.css */

.update-event-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .back-link i {
    margin-right: 5px;
  }
  
  .edit-form,
  .event-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .edit-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
   button:hover {
    background-color: lightgray;

  }
  